# Cursor files
.cursor/mcp.json
.cursor/

# General files to ignore
.DS_Store
node_modules/
*.log

# Environment files
.env
.env.local 

# Python files to ignore
__pycache__/
*.pyc
.venv/

sport.log
playbook.log